<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TP BDD CVs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
    div.tooltip {
      position: absolute;
      text-align: center;
      padding: 2px;
      font: 12px sans-serif;
      background: lightsteelblue;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Cantidad de Anuncios por Ciudad y Mes</h1>
    <p>x: mes</p>
    <p>y: cantidad de anuncios</p>
  </div>
  <div id="my_dataviz"></div>
  <script src="http://d3js.org/d3.v4.js"></script>
  <script>
    var objs = <%-JSON.stringify(objs) %>;
  </script>
  <script src="/static/anunciosCiudadMes.js"></script>
</body>

</html>