<!DOCTYPE html>
<html>
<head> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TP BDD CVs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container">
        <h1>Distribucion de Profesionales por Ciudad:</h1>
    </div>
    <div id="mapid" style="height:500px"></div>

    <div class="container">
        <h1>Distribucion de Profesionales por Ciudad, con CV ingresado:</h1>
    </div>
    <div id="mapid2" style="height:500px"></div>
</body>
<script>
    var mymap = L.map('mapid').setView([-34.62371261326536, -58.4163275755905], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);
    <%for (var nombreCiudad in ciudades) {%>
        <%if (ciudades[nombreCiudad].cantProfs > 0) {%>
            var circle = L.circle([<%=ciudades[nombreCiudad].centroLat%>, <%=ciudades[nombreCiudad].centroLong%>], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.35,
                radius: <%=Math.max(30, Math.min(2000, ciudades[nombreCiudad].cantProfs * 15))%>
            })
                .addTo(mymap)
                .bindPopup("<%=nombreCiudad%><br>Profesionales: <%=ciudades[nombreCiudad].cantProfs%>");
        <%}%>
    <%}%>

    var mymap2 = L.map('mapid2').setView([-34.62371261326536, -58.4163275755905], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap2);
    <%for (var nombreCiudad in ciudadesConCV) {%>
        <%if (ciudadesConCV[nombreCiudad].cantProfs > 0) {%>
            var circle = L.circle([<%=ciudadesConCV[nombreCiudad].centroLat%>, <%=ciudadesConCV[nombreCiudad].centroLong%>], {
                color: 'green',
                fillColor: '#0f3',
                fillOpacity: 0.35,
                radius: <%=Math.max(30, Math.min(2000, ciudadesConCV[nombreCiudad].cantProfs * 15))%>
            })
                .addTo(mymap2)
                .bindPopup("<%=nombreCiudad%><br>Profesionales: <%=ciudadesConCV[nombreCiudad].cantProfs%>");
        <%}%>
    <%}%>
</script>

</html>