<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TP BDD CVs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body style="margin: 12px">
    <div class="container">
        <h1>TP BDD CVs</h1>
    </div>
    <div>
        <h4>Ejercicios:</h4>
        <a href="/profesionalesCVs">1) Porcentaje de profesionales con CVs</a><br>
        <a href="/distribProfsPorCiudad">2) Distribucion de profesionales por ciudad (con y sin CV ingresado)</a><br>
        <a href="/anunciosCiudadMes">3) Cantidad de Anuncios por Ciudad y Mes</a><br>
        <a href="/salarioPretendidoPorPuesto">4) Promedio de Salario Pretendido por Tipo de Puesto</a><br>
        <a href="/salarioPretPuestoCiudad">5) Promedio de Salario Pretendido por Tipo de Puesto y Ciudad (Ubicado Geograficamente)</a><br>
        <a href="/coordsProfesionales">6) Coordenadas de Profesionales</a><br>
        <a href="/coordsAnuncios">7) Coordenadas de Anuncios</a><br>
        <a href="/distribPostulacionesCVs">8) Distribucion de CVs Postulados por Tipo de Puesto</a><br>
        <br>
        <h4>Ejemplos de Graficos:</h4>
        <a href="/CVsPorMes">Cantidad de CVs Postulados por Mes</a><br>
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
</body>
</html>
