<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TP BDD CVs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>
  <div class="container">
    <h1>Porcentaje de profesionales con CV:</h1>
    <p>Total de profesionales analizados: <span id="span-total"></span></p>
    <p>Con CV: <span id="span-concv"></span></p>
    <p>Sin CV: <span id="span-sincv"></span></p>
  </div>
  <div id="my_dataviz"></div>
  <script src="http://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script>
    var total = <%= profTotal %>;
    var conCV = <%= profConCV %>;
    var sinCV = <%= profSinCV %>;
    document.getElementById('span-total').innerHTML = total;
    document.getElementById('span-concv').innerHTML = conCV;
    document.getElementById('span-sincv').innerHTML = sinCV;
  </script>
  <script src="/static/profesionalesCVs.js"></script>
</body>

</html>