<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TP BDD CVs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
    body {
      font: 10px sans-serif;
    }

    .bar rect {
      shape-rendering: crispEdges;
    }

    .bar text {
      fill: #999999;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    div.tooltip {
      position: absolute;
      text-align: center;
      padding: 2px;
      font: 12px sans-serif;
      background: lightsteelblue;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Promedio de Salarios Pretendidos por Tipo de Puesto</h1>
    <p>x: tipo de puesto</p>
    <p>y: promedio de salarios pretendidos</p>
  </div>
  <div id="my_dataviz"></div>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/d3-scale.v3.min.js"></script>
  <script>
    var puestos = <%-JSON.stringify(puestos) %>;
  </script>
  <script src="/static/salarioPretendidoPorPuesto.js"></script>
</body>

</html>